
<header>
  <app-navbar></app-navbar>
</header>

<router-outlet></router-outlet>

<footer>

  SUPER FOOTER DE L'IPME 2k22

</footer>

<!--<div class="container">-->
<!--  <div>-->
<!--    <h1>{{ title }}</h1>-->
<!--    <div *ngIf="!isClicked; else otherButton">-->
<!--      <button-->
<!--        class="btn btn-primary"-->
<!--        (click)="coucou()"-->
<!--      >-->
<!--        Coucou-->
<!--      </button>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<ng-template #otherButton>-->
<!--  <button (click)="hello()">Hello</button>-->
<!--</ng-template>-->
