
<div class="container">
  <router-outlet></router-outlet>
</div>

<!--<div class="container">-->
<!--  <div>-->
<!--    <h1>{{ title }}</h1>-->
<!--    <div *ngIf="!isClicked; else otherButton">-->
<!--      <button-->
<!--        class="btn btn-primary"-->
<!--        (click)="coucou()"-->
<!--      >-->
<!--        Coucou-->
<!--      </button>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<ng-template #otherButton>-->
<!--  <button (click)="hello()">Hello</button>-->
<!--</ng-template>-->
